@inherits LayoutComponentBase
<PageTitle>BlazorSound</PageTitle>
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    main {
        display:flex;
        justify-content:space-between;
    }

    article {
        width: 100%;
        background-color: transparent;
        padding: 0 !important;
    }

    .info-container {
        height: 85vh;
        width: 40%; /* Width của container phải 100% để nó chiếm 100% width của phần cha */
        display: flex;
        justify-content: flex-end; /* Để dịch chuyển nội dung sang phải */
    }

    .info-content {
        max-height:100%;
        margin-right: 10px;
        background-color: transparent;
    }
    .sidebar{
        background-color:transparent;
        background-image: none !important;
    }
</style>
<div class="page">
    <div class="sidebar d-flex flex-column ">
        <div class="container-nav br-tai" style="background-color:black;margin-top:10px;margin-left:5px; max-height:88%;height:90%; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; ">
            <NavMenu></NavMenu>
        </div>
    </div>
    <main >
        <article>
            <div>
                <button id="btn-switch-theme" class="border p-2" @onclick="SwitchTheme">
                    Switch theme
                </button>
                <!-- Nội dung của phần body -->
                @Body
            </div>
        </article>

        <div class="info-container">
            <div class="info-content">
                <!-- Nội dung của InfoMusic -->
                <InfoMusic></InfoMusic>
            </div>
        </div>
    </main>

</div>
<footer style="background-color:red; height:10vh; position: fixed; bottom: 0; width: 100%;">
    <!-- Thẻ audio như là footer -->
    <div class="d-flex justify-content-center align-items-center" style="background-color:yellow; height:100%;">
        <audio controls>
            <source src="your-audio-file.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</footer>

@code{
    [Inject] private IJSRuntime JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeTheme");
        }
    }

    private async Task SwitchTheme()
    {
        await JSRuntime.InvokeVoidAsync("switchTheme");
    }
}